---
layout: base
---

{% include header.html type="page" %}

<div class="text-center">
  <h1>I write about <span id = "typed" style="color:#890000";></span></h1>
</div>

<div class="container" role="main" id = "index_container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	        {% include fb-comment.html %}
        <div class="staticman-comments">
          {% include staticman-comments.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>