---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	        {% include fb-comment.html %}
        <div class="staticman-comments">
          {% include staticman-comments.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Be notified of awesomeness</h4>
            </div>
            <div class="modal-body">
                <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=IncitefulDataGithubIO', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                  <div class = 'form-group'>
                    <label for = 'email'> Email: </label>
                    <input type="text" name="email" class = 'form-control' id = 'email'/>
                    <input type="hidden" value="IncitefulDataGithubIO" name="uri"/>
                    <input type="hidden" name="loc" value="en_US"/>
                  </div>
                  <button type="submit" value="Subscribe" class = 'btn btn-default col-sm-8 col-sm-offset-2 sub'>SUBSCRIBE</button>
              </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
